@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/bold/Nunito-Bold.eot');
  src: url('../fonts/nunito/bold/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nunito/bold/Nunito-Bold.woff2') format('woff2'),
  url('../fonts/nunito/bold/Nunito-Bold.woff') format('woff'),
  url('../fonts/nunito/bold/Nunito-Bold.ttf') format('truetype'),
  url('../fonts/nunito/bold/Nunito-Bold.svg#Nunito-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/regular/Nunito-Regular.eot');
  src: url('../fonts/nunito/regular/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nunito/regular/Nunito-Regular.woff2') format('woff2'),
  url('../fonts/nunito/regular/Nunito-Regular.woff') format('woff'),
  url('../fonts/nunito/regular/Nunito-Regular.ttf') format('truetype'),
  url('../fonts/nunito/regular/Nunito-Regular.svg#Nunito-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/quicksand/bold/Quicksand-Bold.eot');
  src: url('../fonts/quicksand/bold/Quicksand-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/quicksand/bold/Quicksand-Bold.woff2') format('woff2'),
  url('../fonts/quicksand/bold/Quicksand-Bold.woff') format('woff'),
  url('../fonts/quicksand/bold/Quicksand-Bold.ttf') format('truetype'),
  url('../fonts/quicksand/bold/Quicksand-Bold.svg#Quicksand-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/quicksand/semi-bold/Quicksand-SemiBold.eot');
  src: url('../fonts/quicksand/semi-bold/Quicksand-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/quicksand/semi-bold/Quicksand-SemiBold.woff2') format('woff2'),
  url('../fonts/quicksand/semi-bold/Quicksand-SemiBold.woff') format('woff'),
  url('../fonts/quicksand/semi-bold/Quicksand-SemiBold.ttf') format('truetype'),
  url('../fonts/quicksand/semi-bold/Quicksand-SemiBold.svg#Quicksand-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/quicksand/medium/Quicksand-Medium.eot');
  src: url('../fonts/quicksand/medium/Quicksand-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/quicksand/medium/Quicksand-Medium.woff2') format('woff2'),
  url('../fonts/quicksand/medium/Quicksand-Medium.woff') format('woff'),
  url('../fonts/quicksand/medium/Quicksand-Medium.ttf') format('truetype'),
  url('../fonts/quicksand/medium/Quicksand-Medium.svg#Quicksand-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/quicksand/regular/Quicksand-Regular.eot');
  src: url('../fonts/quicksand/regular/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/quicksand/regular/Quicksand-Regular.woff2') format('woff2'),
  url('../fonts/quicksand/regular/Quicksand-Regular.woff') format('woff'),
  url('../fonts/quicksand/regular/Quicksand-Regular.ttf') format('truetype'),
  url('../fonts/quicksand/regular/Quicksand-Regular.svg#Quicksand-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/quicksand/light/Quicksand-Light.eot');
  src: url('../fonts/quicksand/light/Quicksand-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/quicksand/light/Quicksand-Light.woff2') format('woff2'),
  url('../fonts/quicksand/light/Quicksand-Light.woff') format('woff'),
  url('../fonts/quicksand/light/Quicksand-Light.ttf') format('truetype'),
  url('../fonts/quicksand/light/Quicksand-Light.svg#Quicksand-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

