.footer {

  background: #383638;
  padding-top: 45px;
  padding-bottom: 60px;

  &__content {

    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ffffff;
  }

  &-logo__container {

    margin-bottom: 80px;
    border-radius: 20px;

    .footer-logo {

      .logo-img {
        width: 187px;
        height: 88px;
        fill: #ffffff;
      }
    }
  }

  &-navigations {

    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 90px;

    .footer-navigation {

      &__title {
        font-weight: 700;
        font-size: 18px;

        line-height: 1.3;
        color: #fff;

        margin-bottom: 30px;
      }

      &__list {

        display: flex;
        flex-direction: column;
        gap: 30px;

        .footer-navigation__item {

          .footer-navigation__link {
            font-weight: 300;
            font-size: 16px;
            line-height: 1.3;
            color: #fff;

            &:hover {
              color: #377dff;
            }
          }
        }
      }
    }
  }

  .social-items {
    display: flex;
    gap: 25px;
    justify-content: center;

    .social-item:hover .social-item__image {
      transform: translateY(-10px);
      fill: #377dff;
    }

    .social-item:hover .social-item__image {
      color: #ffffff;
    }

    .social-item__image {
      width: 36px;
      height: 36px;
      fill: #ffffff;
      color: #383638;
      transition: 0.4s;

    }
  }

  .copy-right {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-align: center;
  }
}

@media screen and (min-width: 768px){

  .footer{

    &-navigations {
      .footer-navigation {
        &__title {
          font-weight: 700;
          font-size: 22px;
        }
        &__list {
          .footer-navigation__item {
            .footer-navigation__link {
              font-size: 18px;
            }
          }
        }
      }
    }
    .copy-right {
      font-size: 18px;
    }
  }
}